<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Products</title>

</head>
<body>
    <nav>
        <a th:href="@{/}">Main</a>
        <a th:href="@{/submit}">Submit</a>
    </nav>
    <form  th:action="@{/find}">
        <input type="text" placeholder="name" th:name ="name"/>
        <input type="date"  th:name="date"}>
        <input type="submit" value="FIND"/>
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>USD</th>
            <th>PLN</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="*{product.name}"></td>
            <td th:text="*{product.usdPrice}"></td>
            <td th:text="*{product.plnPrice}"></td>
        </tr>
    </table>
</body>
</html>